/* Slider */
.slick-slider {
  position: relative;

  display: block;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent; 
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-touch-callout: none;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;

  margin-right: auto; 
  margin-left: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;

  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.42857;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden; 
  flex-direction: column;

  height: 100%;
  margin: 0;
  padding: 0;

  color: #000;
  background-color: #fff;

  font-family: "Gilroy", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
  font-size: 16px;
  line-height: 1.42857;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
}

@font-face {
  font-family: "Gilroy";
  font-weight: 900;
  font-style: normal; 

  src: url("../fonts/gilroy/Gilroy-ExtraBold.woff") format("woff");
  src: url("../fonts/gilroy/Gilroy-ExtraBold.ttf");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal; 

  src: url("../fonts/gilroy/Gilroy-Light.woff") format("woff");
  src: url("../fonts/gilroy/Gilroy-Light.ttf");
}

.advantage__img {
  min-height: 4.625rem;
}

.advantage__icon {
  min-width: 40px;
  max-width: 3.85417vw;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.advantage__title {
  margin: 1.30208vw 0 0;

  color: #fff; 

  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.75rem;
}

.arrow {
  position: relative;
}
.arrow:before,
.arrow:after {
  position: absolute;

  content: "";
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.arrow:before {
  width: 35px;
  height: 2px;

  background: -webkit-gradient(linear, left top, right top, from(#32bcff), to(#42dcfd));
  background: -webkit-linear-gradient(left, #32bcff, #42dcfd);
  background: -o-linear-gradient(left, #32bcff, #42dcfd);
  background: linear-gradient(to right, #32bcff, #42dcfd);
}
.arrow:after {
  left: 35px;

  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #5be1fd;
}

.breadcrumbs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  padding-left: 0;
}
.breadcrumbs--tabs {
  flex-direction: row; 

  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
}
.breadcrumbs--stacked {
  flex-direction: column; 

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
}
.breadcrumbs .text,
.breadcrumbs .breadcrumbs__item,
.breadcrumbs .breadcrumbs__link {
  color: #5be1fd; 

  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}
.breadcrumbs__item {
  position: relative;

  margin-right: 1.25vw;

  list-style: none;

  cursor: default;
}
.breadcrumbs__item:after {
  position: absolute;
  top: 50%;
  right: -0.9375vw; 

  content: "/";
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.breadcrumbs__item:last-child {
  margin-right: 0;
}
.breadcrumbs__item:last-child:after {
  display: none;
}
.breadcrumbs__item--active {
  opacity: 0.5;
}
.breadcrumbs__link {
  text-decoration: none;

  outline: none;
}
.breadcrumbs__link:hover {
  color: #0fd3fc;
}
.breadcrumbs__link:focus {
  color: #0fd3fc;
}

.button {
  display: inline-block;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
  text-decoration: none;

  border: none;
  outline: none;

  font-family: "Gilroy";
  font-weight: 900;
  line-height: 1;
}
.button--lg {
  padding: 1.375rem 3.75rem;

  font-size: 1.125em;
}
.button--md {
  padding: 1rem 2.5rem;

  font-size: 1em;
}
.button--sm {
  padding: 0.5rem 1.5rem;

  font-size: 0.75em;
}
.button--circle {
  -webkit-border-radius: 40px;
  border-radius: 40px;
}
.button--arrow-r {
  position: relative;

  padding-right: 100px;
}
.button--arrow-r:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  content: "";

  background: url("../img/bottom--arrow-r.png") no-repeat 80% 50%;
}
.button--primary {
  z-index: 0; 

  overflow: hidden;

  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#32bcff), to(#5be1fd));
  background: -webkit-linear-gradient(left, #32bcff, #5be1fd);
  background: -o-linear-gradient(left, #32bcff, #5be1fd);
  background: linear-gradient(to right, #32bcff, #5be1fd);
}
.button--primary:after {
  position: absolute;
  z-index: -1; 
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  content: "";
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

  opacity: 0;
  background: -webkit-gradient(linear, left top, right top, from(#009ae5), to(#29d8fc));
  background: -webkit-linear-gradient(left, #009ae5, #29d8fc);
  background: -o-linear-gradient(left, #009ae5, #29d8fc);
  background: linear-gradient(to right, #009ae5, #29d8fc);
}
.button--primary:hover:after,
.button--primary:focus:after {
  opacity: 1;
}

.cattegory-cart {
  position: relative;

  display: block;

  max-width: 360px;
  padding: 2.08333vw 5.20833vw 2.60417vw 2.08333vw;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: border 0.2s ease;
  -o-transition: border 0.2s ease;
  transition: border 0.2s ease; 
  text-decoration: none;

  border: 1px solid #e5eaed;
  outline: none;

  -webkit-box-flex: 0;
  -webkit-flex: 0 1 360px;
  -ms-flex: 0 1 360px;
  flex: 0 1 360px;
}
.cattegory-cart:hover,
.cattegory-cart:focus {
  border-color: #32bcff;
}
.cattegory-cart__title {
  margin: 0;

  color: #212121; 

  font-size: 1.375em;
  font-weight: 900;
  line-height: 1.75rem;
}
.cattegory-cart__arrow {
  position: absolute;
  right: 3.38542vw; 
  bottom: 1.82292vw;
}
.cattegory-cart .arrow:before {
  width: 1.82292vw;
}
.cattegory-cart .arrow:after {
  left: 1.82292vw;
}

.comment {
  padding: 1.04167vw 1.04167vw 1.04167vw 2.08333vw;

  border: 1px solid #e5eaed;
}
.comment:hover {
  border-color: #32bcff;
}
.comment__title {
  margin: 0 0 0.52083vw;

  color: #212121; 

  font-size: 1.375em;
  font-weight: 900;
  line-height: 3.375rem;
}
.comment__descr {
  margin: 0 0 0.52083vw;

  font-size: 1em;
  font-weight: 300; 
  line-height: 1.5em;
}
.comment__link {
  padding-right: 2.34375vw;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
  text-decoration: none;

  color: #32bcff;

  font-size: 1em;
  font-weight: 900;
  line-height: 1.5em;
}
.comment__link:before,
.comment__link:after {
  top: 50%;
}
.comment__link:before {
  right: 0;
  bottom: auto; 

  width: 1.82292vw;
}
.comment__link:after {
  right: -10px;
  left: auto;
}
.comment__link:hover {
  opacity: 0.7;
}

.dropdown {
  position: relative;
  z-index: 100;
}
.dropdown__toggle {
  padding-right: 20px; 

  background: url("../img/dropdown__toggle-arrow.png") no-repeat 100% 50%;
}
.dropdown__menu {
  position: absolute;
  top: -webkit-calc(100% + 15px);
  top: calc(100% + 15px);
  left: 0;

  display: none;

  min-width: 100%;
  margin: 0;
  padding: 0;

  background: #fff;
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
}
.dropdown__item {
  list-style: none;
}
.dropdown__link {
  display: block;

  padding: 10px;

  -webkit-transition: background 0.2s ease, color 0.2s ease;
  -o-transition: background 0.2s ease, color 0.2s ease;
  transition: background 0.2s ease, color 0.2s ease; 
  text-decoration: none;

  color: #000;
}
.dropdown__link:focus,
.dropdown__link:hover {
  color: #fff;
  background: #32bcff;
}
.dropdown--active .dropdown__menu {
  display: block;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex--wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex--column {
  flex-direction: column; 

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
}
.flex--center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.flex--end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.flex--around {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.flex--between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.flex--middle {
  -webkit-align-items: center;
  align-items: center; 
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.headline--center {
  text-align: center;
}

.headline__title {
  margin: 0;

  color: #212121; 

  font-size: 3em;
  font-weight: 900;
  line-height: 3.375rem;
}

.headline--white .headline__title {
  color: #fff;
}

.humburger {
  position: relative;
  z-index: 101; 

  width: 20px;
  height: 20px;
  margin-left: 15px;

  cursor: pointer;
}
.humburger__line {
  position: absolute;
  top: 50%;
  left: 0;

  display: block;

  width: 100%;
  height: 2px;

  -webkit-transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease; 
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  background: #fff;
}
.humburger__line:before,
.humburger__line:after {
  position: absolute;
  left: 0;

  width: 100%;
  height: 2px;

  content: "";
  -webkit-transition: top 0.3s ease 0.2s, opacity 0.5s ease-in-out, -webkit-transform 0.4s ease 0.1s;
  -o-transition: transform 0.4s ease 0.1s, top 0.3s ease 0.2s, opacity 0.5s ease-in-out;
  transition: top 0.3s ease 0.2s, opacity 0.5s ease-in-out, -webkit-transform 0.4s ease 0.1s;
  transition: transform 0.4s ease 0.1s, top 0.3s ease 0.2s, opacity 0.5s ease-in-out;
  transition: transform 0.4s ease 0.1s, top 0.3s ease 0.2s, opacity 0.5s ease-in-out, -webkit-transform 0.4s ease 0.1s; 

  background: inherit;
}
.humburger__line:before {
  top: -5px;
}
.humburger__line:after {
  top: 5px;
}
.humburger--active .humburger__line {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.humburger--active .humburger__line:before {
  top: 0;

  opacity: 0;
}
.humburger--active .humburger__line:after {
  top: 0;

  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.input {
  display: inline-block;

  padding: 1.375rem 4.375rem;

  color: #8e8e8e;
  border: 1px solid transparent;
  -webkit-border-radius: 34px;
  border-radius: 34px;
  outline: none;
  background: #fff;

  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 300;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input::-webkit-input-placeholder {
  color: #a7a7a7;
}
.input:-ms-input-placeholder {
  color: #a7a7a7;
}
.input::-ms-input-placeholder {
  color: #a7a7a7;
}
.input::-moz-placeholder {
  color: #a7a7a7;
}
.input::placeholder {
  color: #a7a7a7;
}
.input:focus {
  border-color: #32bcff;
}

.logo__picture {
  margin-right: 1.04167vw;
}

.logo__img {
  width: 3.375rem;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo__title {
  margin: 0;

  color: #fff; 

  font-family: "Gilroy";
  font-size: 2.25em;
  font-weight: 300;
  line-height: 2.125rem;
}

.nav {
  position: relative;
  z-index: 101; 

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.nav--active {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.nav--tabs {
  flex-direction: row; 

  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
}
.nav--stacked {
  flex-direction: column; 

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
}
.nav .nav-item,
.nav .nav__item,
.nav .dropdown {
  margin-right: 1.5625rem;
}
.nav .nav-item:last-child,
.nav .nav__item:last-child,
.nav .dropdown:last-child {
  margin-right: 0;
}
.nav .nav-link,
.nav .nav__link,
.nav .dropdown__toggle {
  display: block;

  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
  text-decoration: none;

  color: #fff;
  outline: none; 

  font-size: 1em;
}
.nav .nav-link:hover,
.nav .nav__link:hover,
.nav .dropdown__toggle:hover,
.nav .nav-link:focus,
.nav .nav__link:focus,
.nav .dropdown__toggle:focus {
  color: #32bcff;
}

.number__value {
  margin: 0 0 0;

  color: #32bcff; 

  font-size: 4.375em;
  font-weight: 300;
}
@supports (text-fill-color: transparent) or (-webkit-text-fill-color: transparent) {
  .number__value {
    background: -webkit-gradient(linear, left top, right top, from(#32bcff), to(#5be1fd));
    background: -webkit-linear-gradient(left, #32bcff, #5be1fd);
    background: -o-linear-gradient(left, #32bcff, #5be1fd);
    background: linear-gradient(to right, #32bcff, #5be1fd);
    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
  }
}

.number__descr {
  margin: 0 0 0;

  color: #212121; 

  font-size: 1.125em;
  font-weight: 900;
  line-height: 1.875rem;
}

.price {
  position: relative;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  flex-direction: column;

  width: 16.66667vw;
  min-width: 150px;
  height: 16.66667vw;
  min-height: 170px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 

  background: -webkit-gradient(linear, left top, right top, from(#32bcff), to(#5be1fd));
  background: -webkit-linear-gradient(left, #32bcff, #5be1fd);
  background: -o-linear-gradient(left, #32bcff, #5be1fd);
  background: linear-gradient(to right, #32bcff, #5be1fd);

  -webkit-align-items: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.price:before {
  position: absolute;
  bottom: -50px;
  left: 0;

  content: "";

  border-width: 50px 8.38542vw;
  border-style: solid;
  border-color: transparent #fff transparent #fff;
}
.price__icon {
  width: 3.28125vw;
  margin-bottom: 2.08333vw;
}
.price__title {
  margin: 0;

  text-align: center; 

  color: #fff;

  font-size: 1.14583vw;
  font-weight: 300;
  line-height: 1.66667vw;
}
.price__value {
  color: #fff; 

  font-size: 1.14583vw;
  line-height: 2.39583vw;
}
.price__value--bold {
  font-size: 1.875vw;
  font-weight: 900;
}

.search {
  position: relative;
}
.search__field {
  width: 100%;
  padding: 10px;
  padding-left: 60px;

  color: #8e8e8e;
  border: 1px solid #e3e7e9;
  -webkit-border-radius: 34px;
  border-radius: 34px;
  outline: none; 

  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
}
.search__button {
  position: absolute;
  top: 50%;
  left: 30px;

  width: 19px;
  height: 19px;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  border: none;
  outline: none; 
  background: url("../img/search__button.png") no-repeat 50% 50%;
}

.service-cart {
  position: relative;

  display: block;

  width: 100%;
  padding: 0 1.04167vw 3.125vw 1.04167vw;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: border 0.2s ease;
  -o-transition: border 0.2s ease;
  transition: border 0.2s ease;
  text-decoration: none;

  border: 1px solid #e5eaed;
  outline: none;
}
.service-cart:hover,
.service-cart:focus {
  border-color: #32bcff;
}
.service-cart__img-cont {
  position: relative;
  z-index: 0; 

  overflow: hidden;

  width: 15.625vw;
  height: 15.625vw;
  margin: 0 auto;
  margin-top: -4.16667vw;

  background: -webkit-gradient(linear, left top, right top, from(#121243), to(#4f79e7));
  background: -webkit-linear-gradient(left, #121243, #4f79e7);
  background: -o-linear-gradient(left, #121243, #4f79e7);
  background: linear-gradient(to right, #121243, #4f79e7);
}
.service-cart__img {
  position: absolute;
  z-index: 1; 
  top: 50%;
  left: 50%;

  width: 100%;
  height: 100%;

  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  opacity: 0.3;
  border: none;
}
.service-cart__icon {
  position: absolute;
  z-index: 2; 
  top: 50%;
  left: 50%;

  max-width: 5.46875vw;

  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  border: none;
}
.service-cart__title {
  margin: 1.82292vw 0.78125vw 0;

  color: #212121; 

  font-size: 1.375em;
  font-weight: 900;
  line-height: 1.75rem;
}
.service-cart__arrow {
  position: absolute;
  right: 3.38542vw; 
  bottom: 1.82292vw;
}
.service-cart .arrow:before {
  width: 1.82292vw;
}
.service-cart .arrow:after {
  left: 1.82292vw;
}

.slide {
  outline: none;
}
.slide__title {
  margin: 0 0 1.5625vw;

  color: #fff; 

  font-family: "Gilroy";
  font-size: 3.375em;
  font-weight: 900;
  line-height: 3.75rem;
}
.slide__descr {
  margin: 0 0 2.34375vw;

  color: rgba(255, 255, 255, 0.4); 

  font-family: "Gilroy";
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.875rem;
}

.socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  margin: 0; 
  padding: 0;
}
.socials__item {
  margin-right: 5px; 

  list-style: none;
}
.socials__item:last-child {
  margin-right: 0;
}
.socials__link {
  display: block;

  width: 28px;
  height: 28px;

  text-decoration: none; 

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-background-size: contain;
  background-size: contain;

  font-size: 0;
  line-height: 0;
}
.socials__link--vk {
  background-image: url("../img/socials__link--vk.png");
}
.socials__link--fb {
  background-image: url("../img/socials__link--fb.png");
}
.socials__link--od {
  background-image: url("../img/socials__link--od.png");
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;

  border-collapse: collapse;
}
.table__responsive {
  display: block;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; 

  width: 100%;
}
.table thead {
  background: #f8fafb;
}
.table th,
.table td {
  padding: 15px 20px;

  text-align: left; 

  border: 1px solid #dee2e5;
}
.table th {
  padding: 20px;

  font-size: 18px;
}
.table td {
  font-size: 16px;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.about {
  padding: 5.98958vw 0 5.20833vw;

  background: url("../img/about-bg.png") no-repeat 0 50%;
  -webkit-background-size: cover;
  background-size: cover;
}
.about__descr {
  margin: 1.04167vw 0 0;

  color: #212121; 

  font-size: 1.125em;
  font-weight: 300;
  line-height: 1.875rem;
}
.about__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  margin-top: 1.30208vw;
}
.about .number {
  margin-right: 4.16667vw;
}

.advantages {
  padding: 8.07292vw 0 10.41667vw;

  background: url("../img/advantages-bg.png") no-repeat 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
}
.advantages__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  margin-top: 4.16667vw;
}
.advantages .advantage {
  margin-right: 3.64583vw;
}
.advantages .advantage:last-child {
  margin-right: 0;
}

.comments {
  padding: 5.72917vw 0 7.03125vw;
}
.comments__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  margin-top: 40px; 

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.comments .comment {
  max-width: 360px; 

  -webkit-box-flex: 0;
  -webkit-flex: 0 1 360px;
  -ms-flex: 0 1 360px;
  flex: 0 1 360px;
}

.company {
  padding: 5.72917vw 0 6.25vw;
}
.company__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  margin-top: 2.60417vw;
}
.company__price {
  margin-right: 2.08333vw;
}
.company__text {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.company__descr {
  margin: 0 0 0.78125vw;

  font-family: "Gilroy";
  font-size: 1.125em;
  font-weight: 300; 
  line-height: 1.875rem;
}
.company__descr:last-child {
  margin-bottom: 0;
}
.company__cart {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  margin-top: 3.125vw; 

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.content {
  color: #212121;
}
.content h1 {
  margin: 0 0 10px;

  font-size: 3.125em;
  font-weight: 900;
}
.content h2 {
  margin: 0 0 10px;

  font-size: 2.25em;
  font-weight: 900;
}
.content h3 {
  margin: 0 0 10px;

  font-size: 1.75em;
  font-weight: 900;
}
.content p {
  margin: 10px 0;

  font-size: 1.0625em;
  font-weight: 300; 
  line-height: 1.75rem;
}
.content img {
  display: block;

  max-width: 100%;
  height: auto;
  margin: 20px 0;
}

.footer__top {
  padding: 3.125vw 0 1.30208vw;
}
.footer__top .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer__link {
  display: inline-block;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease; 
  text-decoration: none;

  color: #212121;

  font-size: 1.25em;
  font-weight: 900;
  line-height: 2.5rem;
}
.footer__link:hover {
  color: #32bcff;
}

.footer__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;

  margin: 0 auto; 

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.footer__item:first-child {
  margin-left: 0;
}
.footer__item .nav {
  margin: 0.26042vw 0;
}
.footer__item .nav__item {
  margin-right: 0;
  margin-bottom: 0.52083vw;
}
.footer__item .nav__item:last-child {
  margin-bottom: 0;
}
.footer__item .nav__link {
  color: #212121;
}

.footer__contact {
  margin: 0 0 0.26042vw;
}
.footer__contact:last-child {
  margin-bottom: 0;
}

.footer__title {
  margin: 0;

  color: #212121; 

  font-size: 1.25em;
  font-weight: 900;
  line-height: 2.25rem;
}

.footer__text-ex,
.footer__phone,
.footer__mail,
.footer__descr {
  color: #212121; 

  font-size: 1em;
  font-weight: 300;
  line-height: 1.875rem;
}

.footer__phone {
  text-decoration: none;
}
.footer__phone:hover {
  opacity: 0.8;
}

.footer__mail:hover {
  opacity: 0.8;
}

.footer__descr {
  margin: 0;
}

.footer__map {
  color: #32bcff;
}
.footer__map:hover {
  opacity: 0.7;
}

.footer__bottom {
  padding: 10px 0;

  background: #f8fafb;
}
.footer__bottom .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-align-items: center;
  align-items: center; 
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.footer__copyright {
  color: #212121; 

  font-size: 1em;
  font-weight: 300;
  line-height: 1.875rem;
}

.footer__agreement {
  position: relative;

  text-decoration: none; 

  color: #212121;

  font-size: 1em;
  font-weight: 300;
  line-height: 1.25rem;
}
.footer__agreement:after {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 1px;

  content: "";

  background: #212121;
}
.footer__agreement:hover {
  opacity: 0.7;
}

.footer .socials__link:hover {
  opacity: 0.8;
}

.form {
  width: 100%;
  max-width: 830px;
  margin: 0 auto;
}
.form__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.form__container .input {
  width: 100%;
}
.form__icon-ex,
.form__label--input:before,
.form__label--textarea:before {
  position: absolute;
  top: 50%;
  left: 35px; 

  content: "";
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.form__label--input {
  position: relative;

  display: block;

  max-width: 400px; 

  -webkit-box-flex: 0;
  -webkit-flex: 0 1 400px;
  -ms-flex: 0 1 400px;
  flex: 0 1 400px;
}
.form__label--input:before {
  width: 22px;
  height: 22px;
}
.form__label--input:first-child:before {
  background: url("../img/form__label--user.png") no-repeat 50% 50%;
}
.form__label--input:nth-child(2):before {
  background: url("../img/form__label--phone.png") no-repeat 50% 50%;
}
.form__label--textarea {
  position: relative;

  display: block;

  width: 100%;
  margin-top: 15px;
}
.form__label--textarea:before {
  width: 32px;
  height: 24px;

  background: url("../img/form__label--message.png") no-repeat 50% 50%;
}
.form__label--textarea .input {
  width: 100%;
  padding-left: 75px;
}
.form__label--button {
  display: block;

  margin: 2.34375vw 0 0;

  text-align: center;
}
.form__label--button .button {
  padding-right: 100px;

  -webkit-border-radius: 40px;
  border-radius: 40px;
  background: url("../img/form__label--button.png") no-repeat 50% 50%;
}
.form__label--button .button:hover,
.form__label--button .button:focus {
  background: url("../img/form__label--button-hover.png") no-repeat 50% 50%;
}

.get {
  padding: 4.6875vw 0;

  background: #f8fafb;
}
.get__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  margin-top: 2.08333vw; 

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.header {
  position: relative;

  -webkit-background-size: cover;
  background-size: cover;
}
.header .slider-background {
  position: absolute;
  z-index: -1; 
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}
.header .slider-background img {
  width: 100%;
  height: 100%;
}
.header .slider-background .slick-list,
.header .slider-background .slick-track {
  height: 100%;
}
.header--bg {
  background: url("../img/header--bg.png") no-repeat top center;
}
.header__top {
  position: absolute;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px);
  max-width: 1140px; 
  padding: 1.92708vw 0 0.78125vw;

  -webkit-align-items: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.header__nav {
  position: relative;
}
.header__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-align-items: center;
  align-items: center; 
  -webkit-box-align: center;
  -ms-flex-align: center;
}
.header__call {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column; 

  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-box-align: end;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-align: end;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
}
.header__phone {
  text-decoration: none; 

  color: #fff;

  font-family: "Gilroy";
  font-size: 1.5em;
  font-weight: 900;
  line-height: 2.125rem;
}
.header__callback {
  position: relative;

  display: block;

  padding: 0;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none; 

  color: #32bcff;
  border: none;
  outline: none;
  background: transparent;

  font-family: "Gilroy";
  font-size: 1em;
  font-weight: 900;
  line-height: 1.5rem;
}
@supports (text-fill-color: transparent) or (-webkit-text-fill-color: transparent) {
  .header__callback {
    background-image: -webkit-gradient(linear, left top, right top, from(#32bcff), to(#5be1fd));
    background-image: -webkit-linear-gradient(left, #32bcff, #5be1fd);
    background-image: -o-linear-gradient(left, #32bcff, #5be1fd);
    background-image: linear-gradient(to right, #32bcff, #5be1fd);
    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
  }
}
.header__callback:after {
  position: absolute;
  bottom: 4px;
  left: 0;

  width: 100%;
  height: 1px;

  content: "";

  background: -webkit-gradient(linear, left top, right top, from(#32bcff), to(#5be1fd));
  background: -webkit-linear-gradient(left, #32bcff, #5be1fd);
  background: -o-linear-gradient(left, #32bcff, #5be1fd);
  background: linear-gradient(to right, #32bcff, #5be1fd);
}

.hero__container {
  margin-bottom: 2.60417vw; 
  padding: 10.41667vw 0 0;
}

.hero__title {
  margin: 0 0 1.30208vw;

  color: #fff; 

  font-size: 3.375em;
  font-weight: 900;
  line-height: 3.75rem;
}

.hero__descr {
  margin: 0 0 2.60417vw;

  color: #fff; 

  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.875rem;
}

.hero__breadcrumbs {
  margin-bottom: 2.86458vw;
}

.main {
  padding: 4.94792vw 0 3.38542vw;
}
.main__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.main .sidebar {
  min-width: 260px;
  margin-right: 30px; 

  -webkit-box-flex: 1;
  -webkit-flex: 1 0 260px;
  -ms-flex: 1 0 260px;
  flex: 1 0 260px;
}
.main .content {
  overflow: hidden; 

  max-width: 850px;

  -webkit-box-flex: 0;
  -webkit-flex: 0 1 850px;
  -ms-flex: 0 1 850px;
  flex: 0 1 850px;
}

.questions {
  padding: 7.8125vw 0 6.25vw;

  background: url("../img/questions-bg.png") no-repeat 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
}
.questions__descr {
  margin: 0.78125vw 0 0;

  text-align: center; 

  color: #fff;

  font-size: 1.375em;
  font-weight: 300;
  line-height: 1.875rem;
}
.questions__container {
  margin-top: 2.08333vw;
}

.questions-2 {
  padding: 7.8125vw 0 6.25vw;

  background: url("../img/questions-2-bg.png") no-repeat 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
}
.questions-2__descr {
  margin: 0.78125vw 0 0;

  text-align: center; 

  color: #fff;

  font-size: 1.375em;
  font-weight: 300;
  line-height: 1.875rem;
}
.questions-2__phone {
  text-decoration: none; 

  color: #5be1fd;
}
.questions-2__container {
  margin-top: 2.08333vw;
}

.services {
  padding: 5.72917vw 0;
}
.services__descr {
  margin: 1.5625vw 0 0;

  color: #212121; 

  font-size: 1.125em;
  font-weight: 300;
  line-height: 1.875rem;
}
.services__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  margin-top: 6.77083vw; 

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.services__btn {
  margin-top: 2.86458vw;

  text-align: center;
}
.services .service-cart {
  max-width: 360px; 

  -webkit-box-flex: 0;
  -webkit-flex: 0 1 360px;
  -ms-flex: 0 1 360px;
  flex: 0 1 360px;
}

.sidebar__item {
  margin-bottom: 25px;
}
.sidebar__item:last-child {
  margin-bottom: 0;
}

.sidebar__title {
  margin: 0 0 20px;

  color: #212121; 

  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
}

.sidebar .button {
  display: block;

  margin-bottom: 2px; 
  padding: 26px 100px 26px 24px;

  text-align: left;
}
.sidebar .button:last-child {
  margin-bottom: 0;
}

.slider__container {
  overflow: hidden; 

  padding: 16.14583vw 0 12.5vw;
}

.slider .slick-dots {
  position: absolute;
  top: 50%;
  right: 0;

  margin: 0; 
  padding: 10px;
  padding-left: 0;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.slider .slick-dots li {
  list-style: none;
}
.slider .slick-dots li button {
  position: relative;

  width: 8px;
  height: 8px;
  padding: 0;

  cursor: pointer;

  border: none;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  outline: none; 
  background: #fff;

  font-size: 0;
  line-height: 0;
}
.slider .slick-dots li button:before {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 16px;
  height: 16px;

  content: "";
  -webkit-transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease; 
  -webkit-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);

  border: 1px solid #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: transparent;
}
.slider .slick-dots .slick-active button:before {
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}
@media screen and (max-width: 1200px) {
  body {
    -webkit-background-size: cover;
    background-size: cover;
    font-size: 14px;
  }
  .cattegory-cart {
    max-width: 300px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 300px;
    -ms-flex: 0 1 300px;
    flex: 0 1 300px;
  }
  .about {
    background-position: 50% 50%;
  }
  .comments .comment {
    max-width: 300px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 300px;
    -ms-flex: 0 1 300px;
    flex: 0 1 300px;
  }
  .services .service-cart {
    max-width: 300px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 300px;
    -ms-flex: 0 1 300px;
    flex: 0 1 300px;
  }
}
@media screen and (max-width: 992px) {
  html {
    font-size: 14px;
  }
  body {
    font-size: 12px;
  }
  .cattegory-cart {
    max-width: 250px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 250px;
    -ms-flex: 0 1 250px;
    flex: 0 1 250px;
  }
  .cattegory-cart__title {
    font-size: 14px;
    line-height: 18px;
  }
  .price:before {
    border-width: 50px 75px;
  }
  .advantages .advantage__title {
    font-size: 1.125em;
    line-height: 1.5rem;
  }
  .comments__container {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
  .comments .comment {
    max-width: 250px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 250px;
    -ms-flex: 0 1 250px;
    flex: 0 1 250px;
  }
  .company__descr br {
    content: "";
  }
  .company__cart {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
  .footer .socials__link {
    width: 24px;
    height: 24px;
  }
  .header__logo .logo__title {
    font-size: 20px;
  }
  .header__logo .logo__img {
    width: 2.5em;
  }
  .header__phone {
    font-size: 1.25em;
    line-height: 1.75rem;
  }
  .main {
    padding-top: 0;
  }
  .main__container {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .main .sidebar {
    margin-right: 0;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .main .content {
    max-width: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
  }
  .services__container {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
  .services .service-cart {
    max-width: 250px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 250px;
    -ms-flex: 0 1 250px;
    flex: 0 1 250px;
  }
  .services .service-cart__title {
    font-size: 14px;
    line-height: 18px;
  }
  .slider .slide__title {
    font-size: 2em;
    line-height: 2.375rem;
  }
  .slider .slide__descr {
    font-size: 1em;
    line-height: 1.375rem;
  }
}
@media screen and (max-width: 768px) {
  .breadcrumbs__item {
    margin-right: 14px;
  }
  .breadcrumbs__item:after {
    right: -11px;
  }
  .cattegory-cart {
    max-width: 200px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 200px;
    -ms-flex: 0 1 200px;
    flex: 0 1 200px;
  }
  .headline__title {
    font-size: 2.375em;
    line-height: 2.75rem;
  }
  .number__value {
    font-size: 40px;
  }
  .number__descr {
    font-size: 14px;
    line-height: 20px;
  }
  .price__icon {
    width: 35px;
    margin-bottom: 10px;
  }
  .price__title {
    font-size: 12px;
    line-height: 16px;
  }
  .price__value {
    font-size: 14px;
    line-height: 24px;
  }
  .price__value--bold {
    font-size: 16px;
  }
  .about {
    background-position: 0 50%;
  }
  .about__descr {
    font-size: 14px;
    line-height: 22px;
  }
  .comments .comment {
    max-width: 200px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 200px;
    -ms-flex: 0 1 200px;
    flex: 0 1 200px;
  }
  .company__descr {
    font-size: 14px;
    line-height: 22px;
  }
  .footer__item:last-child {
    width: 100%;
    margin-top: 40px;
  }
  .form__container {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .form__label:first-child {
    margin-bottom: 15px;
  }
  .form__label--input {
    max-width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 100%;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
  }
  .header__nav {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  .header__nav .nav {
    position: absolute;
    top: -webkit-calc(100% + 20px);
    top: calc(100% + 20px);
    right: -15px;
    display: none;
    flex-direction: column;
    width: -webkit-calc(100vw);
    width: calc(100vw);
    background: #fff;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
  }
  .header__nav .nav--active {
    display: block;
  }
  .header__nav .nav__item,
  .header__nav .nav .dropdown {
    margin-right: 0;
  }
  .header__nav .nav__link,
  .header__nav .nav .dropdown__toggle {
    padding: 10px 20px;
    color: #000;
  }
  .header__nav .nav .dropdown__menu {
    position: static;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .header__nav .nav .dropdown__link {
    padding-left: 40px;
  }
  .header__call {
    margin-left: auto;
  }
  .services .service-cart {
    max-width: 200px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 200px;
    -ms-flex: 0 1 200px;
    flex: 0 1 200px;
  }
}
@media screen and (max-width: 580px) {
  .cattegory-cart {
    max-width: 300px;
    margin-bottom: 15px;
    padding: 10px 15px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 300px;
    -ms-flex: 0 1 300px;
    flex: 0 1 300px;
  }
  .cattegory-cart:last-child {
    margin-bottom: 0;
  }
  .cattegory-cart .arrow {
    right: 50px;
    bottom: 15px;
  }
  .cattegory-cart .arrow:before {
    width: 35px;
  }
  .cattegory-cart .arrow:after {
    left: 35px;
  }
  .headline__title br {
    content: "";
  }
  .about__container {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .about .number {
    margin-right: 0;
    text-align: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 100%;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
  }
  .advantages__container {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .advantages .advantage {
    max-width: 47%;
    margin-right: 2%;
    margin-bottom: 20px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 47%;
    -ms-flex: 0 1 47%;
    flex: 0 1 47%;
  }
  .advantages .advantage:nth-child(2n) {
    margin-right: 0;
  }
  .advantages .advantage:last-child,
  .advantages .advantage:nth-last-child(2) {
    margin-bottom: 0;
  }
  .comments__container {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .comments .comment {
    max-width: 300px;
    margin-bottom: 20px;
    padding: 10px 20px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 100%;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
  }
  .comments .comment:last-child {
    margin-bottom: 0;
  }
  .comments .comment__link {
    display: inline-block;
    margin-top: 5px;
    padding-right: 30px;
  }
  .comments .comment__link:before {
    width: 20px;
  }
  .company__container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .company__price {
    margin: 15px 0;
    margin-right: 0;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .company__cart {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer__item:last-child {
    margin: 0;
  }
  .footer__item {
    width: 100%;
    margin: 0;
  }
  .footer__bottom .container {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer__agreement {
    display: inline-block;
    margin: 10px auto 0;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  .get__container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .hero__container {
    padding-top: 80px;
  }
  .hero__title {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 28px;
  }
  .hero__descr {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 22px;
  }
  .hero__descr br {
    content: "";
  }
  .questions__descr {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 18px;
  }
  .questions__descr br {
    content: "";
  }
  .questions-2__descr {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 18px;
  }
  .questions-2__descr br {
    content: "";
  }
  .services__descr {
    font-size: 12px;
    line-height: 18px;
  }
  .services__container {
    margin-top: 80px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .services .service-cart {
    max-width: 300px;
    margin-bottom: 80px;
    padding: 20px 40px 30px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 100%;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
  }
  .services .service-cart:last-child {
    margin-bottom: 20px;
  }
  .services .service-cart__title {
    margin-top: 20px;
  }
  .services .service-cart__img-cont {
    width: 200px;
    height: 200px;
    margin-top: -70px;
  }
  .services .service-cart__icon {
    max-width: 60px;
  }
  .services .service-cart__arrow {
    right: 60px;
    bottom: 20px;
  }
  .services .service-cart__arrow:before {
    width: 35px;
  }
  .services .service-cart__arrow:after {
    left: 35px;
  }
  .slider .slide {
    padding-right: 30px;
  }
  .slider .slide__title {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
  }
  .slider .slide__descr {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 18px;
  }
  .slider .slide__descr br {
    content: "";
  }
  .slider .slide .button {
    padding: 15px 80px 15px 20px;
  }
  .slider .slick-dots li button:before {
    width: 12px;
    height: 12px;
  }
}
@media screen and (max-width: 480px) {
  body {
    font-size: 10px;
  }
}
@media screen and (min-width: 769px) {
  .humburger {
    display: none;
  }
}
